<div class="main-slider center-align hidden elit-reveal">
  <div id="main-slider" class="owl-carousel owl-theme owl-loaded owl-drag">

    <% @slides.each do |slide| %>
            <div class="item" style="background-image:url(<%= image_path(slide.picture.image) %>);">
              <a href="<%= slide.href %>"></a>
            </div>
    <% end %>

  </div>
</div>
<!-- main-slider -->

<div class="container sale_sliders hidden elit-reveal">
  <div class="row tabs-box">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4">
          <a href="#price-1" class="active">Хит<span class="hide-on-small-only">ы продаж</span> </a>
        </li>
        <li class="tab col s4">
          <a href="#sale40" class=""><span class="hide-on-small-only">Скидка</span> 40%</a>
        </li>
        <li class="tab col s4">
          <a href="#sale50" class=""><span class="hide-on-small-only">Скидка</span> 50%</a>
        </li>

        <div class="indicator" ></div>
      </ul>
    </div>
  </div><!-- row -->
  <div class="row" style="margin: 0;">
    <div id="price-1" class="tab-content col s10 offset-s1 active" >
      <div id="sale_slider-1" class="owl-carousel owl-theme owl-loaded owl-drag">

        <% @products_hit.each do |product| %>
          <div class="item">
            <%= render './layouts/renders/product-card-with-preview', product: product %>
          </div>
        <% end %>

      </div><!-- owl -->
    </div><!-- price -->
    <div id="sale40" class="tab-content col s10 offset-s1 active" >
      <div id="sale_slider-2" class="owl-carousel owl-theme owl-loaded owl-drag">

        <% @products40.each do |product| %>
            <div class="item">
              <%= render './layouts/renders/product-card-with-preview', product: product %>
            </div>
        <% end %>

      </div>
    </div>
    <div id="sale50" class="tab-content col s10 offset-s1 active" >
      <div id="sale_slider-3" class="owl-carousel owl-theme owl-loaded owl-drag">

        <% @products50.each do |product| %>
            <div class="item">
              <%= render './layouts/renders/product-card-with-preview', product: product %>
            </div>
        <% end %>

      </div>
    </div>
  </div><!-- row -->
</div><!-- container -->

<div class="logo-slider">
  <div class="container">
    <div class="row">
      <div class="col s12 hidden elit-reveal">
        <div id="logo-slider" class="owl-carousel owl-theme owl-loaded owl-drag">

          <% @brands.each do |brands| %>
              <div class="item">
                <%= link_to '#' do %>
                  <%= image_tag(brands.slide.image, class: 'responsive-img') %>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- 100% -->

<div class="container">
  <div class="row">

    <% @main_page_blocks.each do |block| %>
        <div class="col <%= block.class_sm %> <%= block.class_s %> card">
          <figure class="effect-steve elit-reveal">
            <%= image_tag(block.picture.image) %>
            <figcaption>
              <a href="<%= block.href %>"></a>
            </figcaption>
            <h5 class="center-align"><%= block.title %></h5>
          </figure>
        </div>
    <% end %>


    <div class="col sm4 s6 card waves-effect">
      <figure class="effect-steve elit-reveal">
        <%= image_tag('content-img/image-1.jpg') %>
        <figcaption>
          <% if @category.sample %>
            <%= link_to '', category_path(@category.sample) %>
          <% end  %>
        </figcaption>
        <h5 class="center-align">Украшения из золота с бриллиантами</h5>
      </figure>
    </div>

    <div class="col sm4 s6 card">
      <figure class="effect-steve elit-reveal">
        <%= image_tag('content-img/image-2.jpg') %>
        <figcaption>
          <% if @category.sample %>
              <%= link_to '', category_path(@category.sample) %>
          <% end  %>
        </figcaption>
        <h5 class="center-align">Украшения с драгоценными камнями</h5>
      </figure>
    </div>

    <div class="col sm4 s12 card">
      <figure class="effect-steve elit-reveal">
        <%= image_tag('content-img/image-3.jpg') %>
        <figcaption>
          <% if @category.sample %>
              <%= link_to '', category_path(@category.sample) %>
          <% end  %>
        </figcaption>
        <h5 class="center-align">Обручальные и помолвочные кольца</h5>
      </figure>
    </div>


    <div class="col sm6 s12 card">
      <figure class="effect-steve elit-reveal">
        <%= image_tag('catalog/grid_4.jpg') %>
        <figcaption>
          <% if @category.sample %>
              <%= link_to '', category_path(@category.sample) %>
          <% end  %>
        </figcaption>
        <h5 class="center-align">Серьги из золота</h5>
      </figure>
    </div>

    <div class="col sm6 s12 card">
      <figure class="effect-steve elit-reveal">
        <%= image_tag('catalog/grid_5.jpg') %>
        <figcaption>
          <% if @category.sample %>
              <%= link_to '', category_path(@category.sample) %>
          <% end  %>
        </figcaption>
        <h5 class="center-align">Шармы</h5>
      </figure>
    </div>

    <!--
          <div class="col s12 center-align">
            <br><br>
          </div>
    -->


  </div><!-- row -->
</div><!-- container -->

