<div class="row">
  <h1 class="panel-heading">Слайд</h1>
  <p id="notice"><%= notice %></p>
</div>
<p>
  <strong>Скрыт:</strong>
  <%= @slide.hide %>
</p>
<p>
  <strong>Ссылка:</strong>
  <%= @slide.href %>
</p>
<% if @slide.picture %>
    <p>
      <strong>Изображение:</strong>
      <%= image_tag @slide.picture.image(:original), class: 'img-responsive' %>
    </p>
<% end %>

<%= link_to 'Изменить', edit_admin_slide_path(@slide),  class: 'btn btn-default mr10' %>
<%= link_to 'Назад', admin_slides_path,  class: 'btn btn-default' %>
