<%= form_for([:admin,manufacturer], :html => {multipart: true}) do |f| %>
  <% if manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:</h2>

      <ul>
      <% manufacturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :title, 'Название' %>
          <%= f.text_field :title, :placeholder => 'Введите название  ', class: 'form-control' %>
        </div>

        <div class="field-group">
          <%= f.label :description, 'Описание' %>
          <%= f.text_area :description,{class: 'form-control'} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <!--Изображение в списке брендов-->
        <div class="form-group">
          <%= f.label :index, 'Изображение в списке брендов' %>
          <% if manufacturer.index %>
              <%= link_to admin_picture_path(manufacturer.index), method: :delete, :remote => true, :class => 'delete-image' do %>
                  Удалить
              <% end %>
              <%= image_tag manufacturer.index.image(:medium), class: 'img-responsive' %>
          <% end %>
          <%= file_field_tag "index", class: 'form-control' %>
        </div>
        <% if manufacturer.index %>
            <%= image_tag manufacturer.index.image, class: 'img-responsive', style: 'max-height:300px; margin:auto'  %>
        <% end %>
      </div>
      <div class="col-lg-6">
        <!--Изображение слайдере брендов-->
        <div class="form-group">
          <%= f.label :slide, 'Изображение в слайдере' %>
          <% if manufacturer.slide %>
              <%= link_to admin_picture_path(manufacturer.slide), method: :delete, :remote => true, :class => 'delete-image' do %>
                  Удалить
              <% end %>
              <%= image_tag manufacturer.slide.image(:medium), class: 'img-responsive' %>
          <% end %>
          <%= file_field_tag "slide", class: 'form-control' %>
        </div>
          <% if manufacturer.slide %>
            <div style="background: #c62828; padding: 10px">
              <%= image_tag manufacturer.slide.image, class: 'img-responsive', style: 'max-height:300px; border: 1px solid black; margin:auto' %>
            </div>
          <% end %>
      </div>
    </div>
    <div class="row mt10">
      <div class="actions text-center">
        <%= f.submit 'Применить', class: 'btn btn-success mb10 mr10' %>
      </div>
    </div>


<% end %>
