<%= form_for([:admin, shop]) do |f| %>
    <% if shop.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

          <ul>
            <% shop.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-lg-6">

        <div class="form-group">
          <%= f.label :title, 'Название' %>
          <%= f.text_field :title, {class: 'form-control'} %>
        </div>

        <div class="actions text-center mt10" >
          <%= f.submit 'Применить', class: 'btn btn-success'%>
        </div>

      </div>
    </div>

<% end %>
<br>
