<footer class="page-footer">
  <div class="container">
    <div class="row ">

      <div class="col l3 m4 sm6 s12  elit-reveal">
        <%= link_to root_path, class: 'logo' do %>
            <%= image_tag'elit-logo-footer.svg' %>
        <% end %>
        <ul class="collection contacts">
          <li class="collection-item"><i class="material-icons">call</i> <a href="tel:+7(47148)78988">8 (47148) 7-89-88</a></li>
          <li class="collection-item"><i class="material-icons">chat</i> <a href="#">Обратная связь</a></li>
        </ul>
        <div class="social">
          <a href="#"><%= image_tag('s-facebook.svg', height: '100%') %></a>
          <a href="#"><%= image_tag('s-vk.svg', height: '100%') %></a>
          <a href="#"><%= image_tag('s-instagram.svg', height: '100%') %></a>
        </div>
      </div>
      <div class="col l6 m4 sm6 s12 hide-on-sm-and-down" style="padding: 0">
        <div class="col l6  s12 elit-reveal" style="padding-top: 10px;">
          <h6>О Элит Ювелир</h6>
          <ul>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Политика Конфиденциальности</a></li>
            <li><a href="#">Карьера</a></li>
          </ul>
        </div>


        <div class="col l6  s12 elit-reveal" style="padding-top: 10px;">
          <h6>ИНФОРМАЦИЯ ПОКУПАТЕЛЮ</h6>

          <ul>
            <li><a href="#">Возврат и обмен</a></li>
            <li><a href="#">Адреса магазинов</a></li>
            <li><a href="#">Подарочный сертификат</a>
          </ul>

        </div>
      </div>
      <div class="col l3 m4 sm6 s12 elit-reveal" style="padding-top: 10px;">
        <h6>ПОДПИСАТЬСЯ НА РАССЫЛКУ</h6>
        <form id="email-subscribe">
          <div class="input-field">
            <input id="subscription-email" type="email" name="email" class="validate" required="">
            <label data-error="Ошибка" for="subscription-email">Email</label>
          </div>

          <div>
            <input type="checkbox" id="agree-with-terms" checked="checked" class="validate" required="">
            <label for="agree-with-terms" class="grey-text text-lighten-1">Я согласен с условиями</label>
          </div>

          <div class="input-field center">
            <button type="submit" class="waves-effect waves-light btn border-btn_grey">ОТПРАВИТЬ</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
      <div>© ООО "Элит Ювелир" 2017.</div> <div>Developed by iliyaking and kudrykun.</div>
  </div>
</footer>