
<div class="" widht="100%">
  <div class="container">
    <nav class="nav_crumbs">
      <div class="nav-wrapper">
        <!-- Mobile nav -->
        <div class="col s12 hide-on-sm-and-up">
          <%= link_to root_path, class: 'catalog-back' do %>
              <i class="material-icons left">keyboard_backspace</i>На главную
          <% end %>
        </div>
        <div class="col s12 hide-on-sm-and-down">
          <%= link_to 'Главная', root_path, class: 'breadcrumb' %>
          <%= link_to 'Каталог', catalog_path, class: 'breadcrumb' %>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row" style="margin: 0;">
    <div class="col s12 inner_heading ">
      <h1 class="flow-text">Каталог</h1>


      <div class="grid">
        <% @category.each do |category| %>
          <% if category.preview != nil %>
            <div class="grid-item <%= category.preview_class %> elit-reveal">
              <div class="card" style="margin: 0;">
                <figure class="effect-jazz">
                  <%= image_tag (category.preview.image) %>
                  <figcaption>
                    <h2 class="flow-text"><%= category.title %></h2>
                    <%= link_to category.title, category_path(category) %>
                  </figcaption>
                </figure>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

     <!-- <div class="grid">


        <div class="grid-item elit-reveal">
          <div class="card" style="margin: 0;">
            <figure class="effect-jazz">
              <%= image_tag('catalog/grid_2.jpg') %>
              <figcaption>
                <h2 class="flow-text">КОЛЬЦА</h2>
                <%= link_to '', category_path(@category.sample) %>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="grid-item elit-reveal">
          <div class="card" style="margin: 0;">
            <figure class="effect-jazz">
              <%= image_tag('catalog/grid_3.jpg') %>
              <figcaption>
                <h2 class="flow-text">ПОДВЕСЫ</h2>
                <%= link_to '', category_path(@category.sample) %>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="grid-item elit-reveal">
          <div class="card" style="margin: 0;">
            <figure class="effect-jazz">
              <%= image_tag('catalog/grid_6.jpg') %>
              <figcaption>
                <h2 class="flow-text">колье</h2>
                <%= link_to '', category_path(@category.sample) %>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="grid-item grid-item&#45;&#45;width2 elit-reveal">
          <div class="card" style="margin: 0;">
            <figure class="effect-jazz">
              <%= image_tag('catalog/grid_4.jpg') %>
              <figcaption>
                <h2 class="flow-text">СЕРЬГИ</h2>
                <%= link_to '', category_path(@category.sample) %>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="grid-item  grid-item&#45;&#45;width3 elit-reveal">
          <div class="card" style="margin: 0;">
            <figure class="effect-jazz">
              <%= image_tag('catalog/grid_5.jpg') %>
              <figcaption>
                <h2 class="flow-text">ШАРМЫ</h2>
                <%= link_to '', category_path(@category.sample) %>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="grid-item  elit-reveal">
          <div class="card" style="margin: 0;">
            <figure class="effect-jazz">
              <%= image_tag('catalog/grid_1.jpg') %>
              <figcaption>
                <h2 class="flow-text">ЧАСЫ</h2>
                <%= link_to '', category_path(@category.sample) %>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="grid-item  elit-reveal">
          <div class="card" style="margin: 0;">
            <figure class="effect-jazz">
              <%= image_tag('catalog/grid_7.jpg') %>
              <figcaption>
                <h2 class="flow-text">ЦЕПИ</h2>
                <%= link_to '', category_path(@category.sample) %>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="grid-item elit-reveal">
          <div class="card" style="margin: 0;">
            <figure class="effect-jazz">
              <%= image_tag('catalog/grid_8.jpg') %>
              <figcaption>
                <h2 class="flow-text">БРАСЛЕТЫ</h2>
                <%= link_to '', category_path(@category.sample) %>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="grid-item elit-reveal">
          <div class="card" style="margin: 0;">
            <figure class="effect-jazz">
              <%= image_tag('catalog/grid_9.jpg') %>
              <figcaption>
                <h2 class="flow-text">Столовые приборы</h2>
                <%= link_to '', category_path(@category.sample) %>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>&lt;!&ndash; grid &ndash;&gt;
-->
    </div>

  </div>
  <br><br>
</div><!-- container -->
