
<div class="" widht="100%">
  <div class="container">
    <nav class="nav_crumbs">
      <div class="nav-wrapper">
        <!-- Mobile nav -->
        <div class="col s12 hide-on-sm-and-up">
          <%= link_to root_path, class: 'catalog-back' do %>
              <i class="material-icons left">keyboard_backspace</i>На главную
          <% end %>
        </div>
        <div class="col s12 hide-on-sm-and-down">
          <%= link_to 'Главная', root_path, class: 'breadcrumb' %>
          <%= link_to 'Каталог', catalog_path, class: 'breadcrumb' %>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row" style="margin: 0;">
    <div class="col s12 inner_heading ">
      <h1 class="flow-text">Каталог</h1>


      <div class="grid">
        <% @category.each do |category| %>
          <% if category.preview != nil %>
            <div class="grid-item <%= category.preview_class %> elit-reveal">
              <div class="card" style="margin: 0;">
                <figure class="effect-jazz">
                  <%= image_tag (category.preview.image) %>
                  <figcaption>
                    <h2 class="flow-text"><%= category.title %></h2>
                    <%= link_to category.title, category_path(category) %>
                  </figcaption>
                </figure>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>
  <br><br>
</div><!-- container -->
