<p id="notice"><%= notice %></p>

<h1>Metal Colors</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metal_colors.each do |metal_color| %>
      <tr>
        <td><%= metal_color.title %></td>
        <td><%= link_to 'Show', metal_color %></td>
        <td><%= link_to 'Edit', edit_metal_color_path(metal_color) %></td>
        <td><%= link_to 'Destroy', metal_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metal Color', new_metal_color_path %>
