<p id="notice"><%= notice %></p>

<h1>Наборы</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kits.each do |kit| %>
      <tr>
        <td><%= kit.title %></td>
        <td><%= link_to 'Показать', admin_kit_path(kit) %></td>
        <td><%= link_to 'Изменить', edit_admin_kit_path(kit) %></td>
        <td><%= link_to 'Удалить', admin_kit_path(kit), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить набор', new_admin_kit_path %>
