









<div class="login-panel panel panel-default" style="position: relative">
  <div class="panel-heading">
    <h3 class="panel-title">Смена пароля</h3>
    <!--Информация всякая ИЛЬЯ-->
    <%flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%end %>

  </div>

  <div class="panel-body">
    <%= devise_error_messages! %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <fieldset>

          <div class="form-group">
            <%= f.label :password, "Новый пароль" %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'%>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Повторите новый пароль" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="actions mb10">
            <%= f.submit "Сменить пароль", class:'btn btn-lg btn-success btn-block' %>
          </div>

        </fieldset>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>