<div class="row">
  <h1 class="panel-heading">Акции</h1>
  <div id="notice" class="alert alert-success"><%= notice %></div>
</div>
<%= link_to new_admin_promo_path, class: 'btn btn-success' do %>
    Добавить акцию
    <i class="fa fa-plus"></i>
<% end %>
<br>
<br>
<div class="panel panel-default">
  <table width="100%" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @promos.each do |promo| %>
        <tr>
          <td><%= promo.title %></td>
          <td><%= truncate(promo.text, length: 30) %></td>
          <td><%= link_to 'Показать', admin_promo_path(promo) %></td>
          <td><%= link_to 'Изменить', edit_admin_promo_path(promo) %></td>
          <td><%= link_to 'Удалить', admin_promo_path(promo), method: :delete, data: {confirm: 'Вы уверены?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>


