<div class="row">
  <h1 class="panel-heading">Акция</h1>
  <p id="notice"><%= notice %></p>
</div>
<p>
  <strong>Название:</strong>
  <%= @promo.title %>
</p>
<p>
  <strong>Текст:</strong>
  <%= @promo.text %>
</p>
<% if @promo.preview %>
    <p>
      <strong>Превью:</strong>
      <%= image_tag @promo.preview.image(:medium), class: 'img-responsive' %>
    </p>
<% end %>
<% if @promo.picture %>
    <p>
      <strong>Изображение в тексте:</strong>
      <%= image_tag @promo.picture.image(:medium), class: 'img-responsive' %>
    </p>
<% end %>

<%= link_to 'Изменить', edit_admin_promo_path(@promo),  class: 'btn btn-default mr10' %>
<%= link_to 'Назад', admin_promos_path,  class: 'btn btn-default' %>
