<p id="notice"><%= notice %></p>

<h1>Скидка</h1>

<table>
  <thead>
    <tr>
      <th>Скидка</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sale_sizes.each do |sale_size| %>
      <tr>
        <td><%= sale_size.sale_percent %></td>
        <td><%= link_to 'Показать', admin_sale_size_path(sale_size) %></td>
        <td><%= link_to 'Изменить', edit_admin_sale_size_path(sale_size) %></td>
        <td><%= link_to 'Удалить', admin_sale_size_path(sale_size), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить скидку', new_admin_sale_size_path %>
