<div class="row">
  <h1 class="panel-heading">Скидки</h1>
  <div id="notice" class="alert alert-success"><%= notice %></div>
</div>

<%= link_to new_admin_sale_size_path, class: 'btn btn-success'  do %>
    Добавить скидку
    <i class="fa fa-plus"></i>
<% end %>
<br><br>

<div class="panel panel-default">
  <div class="panel-body">
    <table  width="100%" class="table table-striped table-bordered table-hover" id="simpleDataTable">
      <thead>
        <tr>
          <th>Скидка</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @sale_sizes.each do |sale_size| %>
          <tr>
            <td><%= sale_size.sale_percent %></td>
            <td><%= link_to 'Показать', admin_sale_size_path(sale_size) %></td>
            <td><%= link_to 'Изменить', edit_admin_sale_size_path(sale_size) %></td>
            <td>
              <div
              <% if sale_size.products.size > 0 %>
              data-toggle="tooltip"
              data-placement="left"
              data-original-title="Невозможно удалить скидку, которая есть в изделиях"
              >
              <a href="#" class="disabled">Удалить</a>
              <% else %>
              >
              <%= link_to 'Удалить', admin_sale_size_path(sale_size), method: :delete, data: { confirm: 'Вы уверены?'}, class: '' %>
              <% end %>
              </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
