<%= form_for([:admin, size]) do |f| %>
  <% if size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(size.errors.count, "error") %> prohibited this size from being saved:</h2>

      <ul>
      <% size.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <%= f.label :size, 'Размер' %>
      <%= f.text_field :size, :placeholder => 'Введите размер  ', class: 'form-control' %>
    </div>

    <div class="actions text-center mt10" >
      <%= f.submit 'Применить', class: 'btn btn-success'%>
    </div>
  </div>
</div>

<% end %>
