<p id="notice"><%= notice %></p>

<h1>Размеры</h1>

<table>
  <thead>
    <tr>
      <th>Размер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sizes.each do |size| %>
      <tr>
        <td><%= size.size %></td>
        <td><%= link_to 'Показать', admin_size_path(size) %></td>
        <td><%= link_to 'Изменить', edit_admin_size_path(size) %></td>
        <td><%= link_to 'Удалить', admin_size_path(size), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить размер', new_admin_size_path %>
