<div class="row">
  <h1 class="panel-heading">Размеры</h1>
  <p id="notice"><%= notice %></p>
</div>
<%= link_to 'В товары', admin_products_path, class: 'btn btn-default' %>
<%= link_to new_admin_size_path, class: 'btn btn-success'  do %>
    Добавить размер
    <i class="fa fa-plus"></i>
<% end %>
<br><br>
<div class="panel panel-default">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Размер</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @sizes.each do |size| %>
        <tr>
          <td><%= size.size %></td>
          <td><%= link_to 'Показать', admin_size_path(size) %></td>
          <td><%= link_to 'Изменить', edit_admin_size_path(size) %></td>
          <td><%= link_to 'Удалить', admin_size_path(size), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
