


<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Войдите в свой аккаунт</h3>
          <!--Информация всякая ИЛЬЯ-->
          <%flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          <%end %>
        </div>
        <div class="panel-body">
          <%= devise_error_messages! %>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <fieldset>
              <div class="field">

              </div>

                <div class="form-group">
                <%= f.label :email, 'Электронная почта' %><br />
                <%= f.email_field :email, autofocus: true, class:'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :password, 'Пароль' %><br />
                <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
              </div>


              <% if devise_mapping.rememberable? -%>
                <div class="checkbox">
                  <%= f.label :remember_me do%>
                      <%= f.check_box :remember_me%>Запомнить меня
                  <% end %>
                </div>
              <% end -%>

              <div class="actions mb10">
                <%= f.submit "Войти", class:'btn btn-lg btn-success btn-block' %>
              </div>

              </fieldset>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>