<div class="row">
  <div id="notice" class="alert alert-success"><%= notice %></div>
  <h1 class="panel-heading">Категории</h1>
</div>

<%= link_to new_admin_category_path, class: 'btn btn-success'  do %>
    Добавить категорию
    <i class="fa fa-plus"></i>
<% end %>
<br><br>

<div class="panel panel-default">
  <div class="panel-body">
  <table  width="100%" class="table table-striped table-bordered table-hover category_dataTable" >
  <thead>
    <tr>
      <th width="40px">ID</th>
      <th>Название</th>
      <th>Приоритет</th>
      <th>Приоритет превью</th>
      <th>Товаров</th>
      <th width="90px">Фото (П Б)</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.title %></td>
        <td><%= category.priority %></td>
        <td><%= category.preview_priority %></td>
        <td><%= @products.where(category: category).size %></td>
        <td>
          <% if category.preview %>
              <i class="fa fa-check" aria-hidden="true"></i>
          <% else %>
              <i class="fa fa-times" aria-hidden="true"></i>
          <%end%>
          <% if category.banner %>
              <i class="fa fa-check" aria-hidden="true"></i>
          <% else %>
              <i class="fa fa-times" aria-hidden="true"></i>
          <%end%>
        </td>
        <td><%= link_to 'Показать', admin_category_path(category) %></td>
        <td><%= link_to 'Изменить', edit_admin_category_path(category) %></td>
        <td>
          <div
            <% if category.products.size > 0 %>
            data-toggle="tooltip"
            data-placement="left"
            data-original-title="Невозможно удалить категорию в которой есть товары или виды изделий"
            >
            <a href="#" class="disabled">Удалить</a>
          <% else %>
          >
          <%= link_to 'Удалить', admin_category_path(category), method: :delete, data: { confirm: 'Вы уверены?'}, class: '' %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>




