<div class="row">
  <h1 class="panel-heading">Категории</h1>
  <p id="notice"><%= notice %></p>
</div>

<%= link_to 'Добавить категорию', new_admin_category_path, class: 'btn btn-default' %><br><br>

<div class="panel panel-default">
<table  width="100%" class="table table-striped table-bordered table-hover" >
  <thead>
    <tr>
      <th>Название</th>
      <th>Приоритет</th>
      <th>Товаров</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.priority %></td>
        <td><%= @products.where(category: category).size %></td>
        <td><%= link_to 'Показать', admin_category_path(category) %></td>
        <td><%= link_to 'Изменить', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Удалить', admin_category_path(category), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


