<div class="row" style="position: relative">
  <div id="notice" class="alert alert-success"><%= notice %></div>
  <h1 class="panel-heading">Редактирование товара</h1>
</div>


<!--Кнопка назад-->
<%if @from_products%>
    <%= link_to 'Назад', admin_products_path, class: 'btn btn-default' %>
<%else%>
    <%if @from_category%>
      <%= link_to 'Назад', admin_category_path(@category), class: 'btn btn-default' %>
    <%else%>
      <%if @from_collection%>
            <%= link_to 'Назад', admin_collection_path(@collection), class: 'btn btn-default' %>
      <%else%>
            <%= link_to 'Назад', admin_products_path, class: 'btn btn-default' %>
      <%end%>
    <%end%>
<%end%>

<%= link_to 'Показать', admin_product_path(@product), class: 'btn btn-default ml10' %>
<%= link_to product_path(@product),  target: :_blank, class: 'btn btn-default ml10' do %>
    Показать на сайте
    <i class="fa fa-external-link" aria-hidden="true"></i>
<% end %>
<%= link_to admin_product_path(@product), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger pull-right' do %>
    Удалить изделие <i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-original-title="Удалить товар"></i>
<% end %>
<%= render 'form', product: @product %>
<%= render 'nav_toggling', flag: @from_new %>
<%= javascript_include_tag 'admin/product/dz-scripts.js' %>
<%= javascript_include_tag 'admin/product/product_price.js' %>