<!-- Page Content -->
<div class="row">
<p id="notice"><%= notice %></p>
  <h1 class="page-header">Товары</h1>
</div>
<ul class="list-inline">
  <li><%= link_to  new_admin_product_path, class: 'btn btn-success' do %>
        Добавить товар
    <i class="fa fa-plus"></i>
    <% end %>
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#" aria-expanded="true">
      Дополнительно <i class="fa fa-plus"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li><%= link_to 'Размеры', new_admin_size_path %></li>
      <li><%= link_to 'Виды изделий', new_admin_product_type_path %></li>
      <li><%= link_to 'Вставки', new_admin_incrustation_path %></li>
      <li><%= link_to 'Цвета', new_admin_metal_color_path %></li>
      <li><%= link_to 'Металлы', new_admin_metal_type_path %></li>
      <li><%= link_to 'Скидки', new_admin_sale_size_path %></li>
    </ul>
  </li>

</ul>

<div class="row">
<div class="panel panel-default" style="margin-top: 20px; margin-bottom: 60px; visibility: hidden;" id="table">

  <div class="panel-heading">
    Таблица товаров
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table  width="100%" class="table table-striped table-bordered table-hover"  id="dataTables-example">
      <thead>
        <tr>
          <th>id</th>
          <th>Название</th>
          <th>Производитель</th>
          <th >Артикул</th>
          <th>Вес</th>
          <th>Цена гр.</th>
          <th>Цена</th>
          <th>%</th>
          <th>Цена %</th>
          <th>Размер</th>
          <th>
            <i class="fa fa-home fa-2x" aria-hidden="true"  data-toggle="tooltip" data-placement="top" data-original-title="На главной? Поиск: главная"></i>
          </th>
          <th>
            <i class="fa fa-picture-o fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-original-title="Есть фото? Поиск: фото"></i>
          </th>
          <th>Приор.</th>
          <th>Категория</th>
          <th>Вид изделия</th>
          <th>Набор</th>
          <th>Коллекция</th>
          <th>Пол</th>
          <th>Тип металла</th>
          <th>Цвет металла</th>
          <th>Вставка</th>
          <th class="dt-body-center"></th>
          <th class="dt-body-center"></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.title %></td>
            <td>
              <% if product.manufacturer != nil && product.manufacturer.title != '' %>
                  <%= product.manufacturer.title %>
              <%end%>
            </td>
            <td><%= product.artikul %></td>
            <td><%= product.weight %></td>
            <td><%= product.price_per_gramm %></td>
            <td><%= product.price %></td>
            <td>
              <% if product.sale_size != nil && product.sale_size.sale_percent != '' %>
                  <%= product.sale_size.sale_percent %> %
              <%end%>
            </td>
            <td><%= product.new_price %></td>
            <td style="min-width: 117px;">
              <% if product.shops.size %>
                  <% product.shops.each do |shop|%>
                      <% if product.get_shop_sizes(shop).size%>
                          <div data-toggle="tooltip" data-placement="top" data-original-title="<%=shop.title%>">
                            <%= truncate( shop.title, length: 2, omission: ':') %>
                            <% product.get_shop_sizes(shop).each do |size|%>
                            <%=size.size%>
                            <%end%>
                          </div>
                      <%end%>
                  <%end%>
              <%end%>
            </td>
            <td>
              <% if product.to_main_page %>
                  Да <span class="hidden">главная</span>
              <%end%>
            </td>
            <td>
              <% if product.pictures.size > 0%>
                  Да <span class="hidden">Фото</span>
              <%end%>
            </td>
            <td><%= product.priority %></td>
            <td>
              <% if product.category != nil && product.category.title != '' %>
                  <%= product.category.title %>
              <%end%>
            </td>
            <td>
              <% if product.product_type != nil && product.product_type.title != '' %>
                  <%= product.product_type.title %>
              <%end%>
            </td>
            <td>
              <% if product.kit != nil && product.kit.title != '' %>
                  <%= product.kit.title %>
              <%end%>
            </td>
            <td>
              <% if product.collection != nil && product.collection.title != '' %>
                  <%= product.collection.title %>
              <%end%>
            </td>
            <td><%= product.sex %></td>
            <td>
              <% if product.metal_types.size%>
                  <% product.metal_types.each do |metal_type|%>
                      <%=metal_type.title%>
                  <%end%>
              <%end%>
            </td>
            <td><% if product.metal_color != nil && product.metal_color.title != '' %>
                  <%= product.metal_color.title %>
              <%end%>
            </td>
            <td>
              <% if product.incrustations.size%>
                  <% product.incrustations.each do |incrustation|%>
                      <%=incrustation.title%>,
                  <%end%>
              <%end%>
            </td>
            <td align="center" style="padding: 0; padding-top: 4px">
              <%= link_to product_path(product), target: :_blank do %>
                  <i class="fa fa-eye fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-original-title="Открыть в новой вкладке страницу изделия"></i>
              <% end %>
            </td>
            <td align="center" style="padding: 0; padding-top: 4px">
              <%= link_to admin_product_path(product) do %>
                  <i class="fa fa-file fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-original-title="Просмотреть всю информацию"></i>
              <% end %>
            </td>
            <td align="center" style="padding: 0">

              <%= link_to edit_admin_product_path(product) do %>
                  <i class="fa fa-pencil-square fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-original-title="Редактировать"></i>
              <% end %>

            </td>
            <td align="center" style="padding: 0">
              <%= link_to admin_product_path(product), method: :delete, data: { confirm: 'Вы уверены?' } do %>
                  <i class="fa fa-times fa-2x" style="color: red;" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-original-title="Удалить товар"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>