<div class="row">
  <h1 class="panel-heading"><%= @product.title %></h1>
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <div class="col-lg-6">
    <p>
      <strong>Артикул:</strong>
      <%= @product.artikul %>
    </p>
    <p>
      <strong>Цена за грамм:</strong>
      <%= @product.price_per_gramm %>
    </p>
    <p>
      <strong>Цена:</strong>
      <%= @product.price %>
    </p>

    <p>
      <strong>Цвет металла:</strong>
      <% if @product.metal_color != nil && @product.metal_color.title != '' %>
          <%= @product.metal_color.title %>
      <%end%>
    </p>

    <p>
      <strong>Вес:</strong>
      <%= @product.weight %>
    </p>

    <p>
      <strong>Пол:</strong>
      <%= @product.sex%>
    </p>

    <p>
      <strong>Вид изделия:</strong>
      <% if @product.product_type != nil && @product.product_type.title != '' %>
          <%= @product.product_type.title %>
      <%end%>
    </p>

    <p>
      <strong>Размер скидки:</strong>
      <% if @product.sale_size != nil && @product.sale_size.sale_percent != '' %>
      <%= @product.sale_size.sale_percent %>
      <%else%>
      Пусто
      <%end%>
    </p>

    <p>
      <strong>Цена после скидки:</strong>
      <%= @product.new_price %>
    </p>

    <p>
      <strong>На главную:</strong>
      <%= @product.to_main_page %>
    </p>

    <p>
      <strong>Производитель:</strong>
      <% if @product.manufacturer != nil && @product.manufacturer.title != '' %>
          <%= @product.manufacturer.title %> %
      <%end%>
    </p>

    <p>
      <strong>Приоритет:</strong>
      <%= @product.priority %>
    </p>

    <p>
      <strong>Категория:</strong>
      <% if @product.category != nil && @product.category.title != '' %>
        <%= @product.category.title %>
      <%end%>
    </p>
    <p>
      <strong>Коллекция:</strong>
      <% if @product.collection != nil && @product.collection.title != '' %>
          <%= @product.collection.title %>
      <%end%>
    </p>
    <p>
      <strong>Наборы:</strong>
      <% if @product.kit != nil && @product.kit.title != '' %>
          <%= @product.kit.title %>
      <%end%>
    </p>
    <p>
  </div>
  <div class="col-lg-6">
      <strong>Вставки:</strong>
      <% if @product.incrustations.size%>
        <ul>
          <% @product.incrustations.each do |incrustation|%>
              <li><%=incrustation.title%></li>
          <%end%>
        </ul>
      <%end%>
    </p>
    <p>
      <strong>Типы металла:</strong>
      <% if @product.metal_types.size%>
        <ul>
          <% @product.metal_types.each do |metal_type|%>
              <li><%=metal_type.title%></li>
          <%end%>
        </ul>
      <%end%>
    </p>
    <p>
      <strong>Размеры:</strong>
      <% if @product.sizes.size%>
        <ul>
          <% @product.sizes.each do |size|%>
              <li><%=size.size%></li>
          <%end%>
        </ul>
      <%end%>
    </p>
  </div>
</div>
<%= link_to 'Редактировать', edit_admin_product_path(@product) %> |
<%= link_to 'Назад', admin_products_path %>
