Изменить пароль
<%= form_for(@user, :url => { :action => :update_password } ) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :current_password, 'Текущий пароль' %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %>
    </div>
    <div class="field">
      <%= f.label :password, "Новый пароль" %><br />
      <%= f.password_field :password, :autocomplete => "off"  %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, 'Повторите новый пароль' %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="action_container">
      <%= f.submit %>
    </div>
<% end %>