<div class="row">
  <div id="notice" class="alert alert-success"><%= notice %></div>
      <h1 class="panel-heading">Смена пароля</h1>
</div>

<%= link_to 'Назад', admin_user_path(@user), class: 'btn btn-default'   %>

<%= form_for(@user, :url => { :action => :update_password } ) do |f| %>
     <div class="row mt20">
      <div class="col-lg-4">

        <% if @user.errors.any? %>
            <div class="alert alert-danger alert-password mt20">
              <a href="#" data-dismiss="alert" class="close">×</a>
              <h4><%= pluralize(@user.errors.count, "ошибка") %> запрещает применить изменения:</h4>
              <ul class="list-unstyled">
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        
        <div class="form-group">
          <%= f.label :current_password, 'Текущий пароль' %> <i>(Введите Ваш текущий пароль!)</i><br />
          <%= f.password_field :current_password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password, 'Новый пароль' %><br />
          <%= f.password_field :password, :autocomplete => "off", class: 'form-control'  %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, 'Повторите новый пароль' %><br />
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="actions text-center mt10 col-lg-4">
        <%= f.submit 'Применить', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>
<br>