<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= favicon_link_tag 'elit-logo-2.png', type: 'image/png' %>
  <%= favicon_link_tag 'elit-logo-2.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <meta name="theme-color" content="#c62828">
  <title>Каталог</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'store/store', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body class="nav-on-left">

<%= render 'layouts/header' %>

<main class="cd-main-content" style="padding:0;">


  <%= yield %>

</main>

<div class="cd-overlay"></div>

<%= render './layouts/renders/basket' %>
<%= render './layouts/renders/footer' %>

<%= javascript_include_tag 'store/store' %>
<%= javascript_include_tag 'store/catalog/catalog' %>

<script type="text/javascript">

    var $grid = $('.grid').imagesLoaded( function() {
        // init Packery after all images have loaded
        $grid.packery({
            itemSelector: '.grid-item',
            percentPosition: true,
            gutter: 0
        });
        window.sr = ScrollReveal({
            duration: 3000,
            origin: 'bottom',
            reset: false
        });
        sr.reveal('.elit-reveal', {
            viewFactor: 0.1,
            duration: 1000,
            reset: false
        });
    });
</script>
<script>


</script>

</body>
</html>